<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head_custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="sidenav">
        <header>
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>

          {% if site.logo %}
            <img src="{{site.logo | relative_url}}" width=50 alt="OpenSearch Logo" />
          {% endif %}

          {% include sidenav.html %}

          <p><a href="{{ site.github.repository_url }}">opensearch-sdk-java repository</a></p>
          <p><a href="https://opensearch.org/docs">OpenSearch user documentation</a></p>
        </header>
      </div>
        <section>

        {{ content }}

        </section>  
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
